/* Sidebar container */
.list-filter-sidebar {
  display: flex;
  flex: 2;
  flex-direction: column;
  gap: var(--space-lg, 2em);
}
.list-section {
  padding: var(--space-xl, 2em);
  border-radius: var(--border-radius, 8px);
  border: 1px solid var(--color-border, #e0e0e0);
}

@media (max-width: 700px) {
  .list-filter-sidebar {
    display: none;
  }
}