.list-filter-label {
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  margin-bottom: 6px;
  cursor: pointer;
  gap: 8px;
}

.list-filter-checkbox {
  display: flex;
  justify-content: center;
}

.list-filter-sidebar {
  min-width: 140px;
  max-width: 180px;
  background: var(--bg-modal);
  color: var(--color-main);
  border-radius: 10px;
  padding: 16px;
  margin-right: 8px;
  height: fit-content;
}

.list-filter-sidebar h4 {
  margin-top: 0;
}

.list-filter-add-row {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.list-filter-add-btn {
  border-radius: 4px;
  padding: 4px 8px;
  border: 0;
  margin-right: 4px;
}

.list-filter-input {
  width: 70%;
  border-radius: 4px;
  padding: 4px;
  border: 0;
  margin-right: 4px;
}

.list-filter-showall-btn {
  margin-top: 8px;
  width: 100%;
  border-radius: 6px;
  padding: 6px;
  font-size: 0.95em;
}